$primary-color: hsl(349, 100%, 61%);
$secondary-color: hsl(283, 99%, 31%);
$light-color: hsl(0, 0%, 98%);
$dark-color: hsl(0, 0%, 1%);
$grey-color: hsl(0, 0%, 34%);
$grey-light-color: hsl(0, 0%, 85%);
$linear-color: linear-gradient(90deg, $secondary-color 0%, $primary-color 160%);