.footer{
background-color: $grey-light-color;

    &__links{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        padding: 3rem;
        @include container;

        @media (max-width: $tablet-break) {
            display: flex;
            flex-direction: column;
            padding: 1.2rem 3rem;
        }
        

        .column{    
            display: flex;
            flex-direction: column;

            @media (max-width: $tablet-break) {
                padding: 2rem 0;
                border-bottom: 1px solid lighten($grey-color, 50%);

                &:last-child{
                    border-bottom: inherit;
                }
            }

            &__title{
                margin-bottom: 1.2rem;
                @include fonts($font: 14, $wt: 700, $color: $dark-color);
            }

            &__links{
                display: grid;
                grid-template-rows: repeat(6, 1fr);
                row-gap: 1.4rem;

                @media (max-width: $tablet-break) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: inherit;
                    column-gap: 1rem;
                }
                
                @media (max-width: $tablet-break) {
                    grid-template-columns: 100%;
                }

                
            }

            &__item{
                @include fonts($font: 14, $wt: 500, $color: $dark-color);
                text-decoration: none;
                margin-bottom: 1.2rem;

                @media (max-width: $tablet-break) {
                    margin-bottom: inherit;
                }

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    &__copyright{
        padding: 1.6rem 0;
        border-top: 1px solid lighten($grey-color, 50%);
        @include container;

        .links{
            display: flex;
            align-items: center;
            gap: 1rem;

            @media (max-width: $tabletSecond-break) {
                align-items: start;
                flex-direction: column;
            }
            
            span{
                @include fonts($font: 14, $wt: 400, $color: $dark-color);
            }
            
            &__group{
                display: flex;
                gap: 1rem;

                @media (max-width: $tabletSecond-break) {
                    flex-wrap: wrap;
                }

                a{
                    font-size: font-sz(14);
                    color: $dark-color;
                    text-decoration: none;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}