@import "../base/base";

.header{
    @include container;
    position: relative;
    margin-bottom: 8.75rem;

    @media (max-width: $tabletSecond-break){
        margin-bottom: 6.75rem;
    }
    
    &__main{
        display: flex;
        height: 5rem;
        align-items: center;
        justify-content: space-between;
        background-color: $dark-color;

        .logo{
            &__full{
                display: block;
                fill: $light-color;

                @media (max-width: $tablet-break) {
                    display: none;
                }
            }

            &__graph{
                fill: $light-color;
                display: none;

                @media (max-width: $tablet-break) {
                    display: block;
                }
            }
        }

        .settings{
            display: flex;
            align-items: center;
            position: relative;

            &__button{
                &--link{
                    @include fonts($font: 14, $wt: 600, $color: $light-color);
                    text-decoration: none;
                }

                &--lang{
                    fill: $light-color;
                    margin-right: 0.6rem;
                }

                &--link, &--lang{
                    padding: 0.8rem;

                    &:hover{
                        background-color: $light-color-op;
                        border-radius: 2rem;
                    }
                }

                &--account{
                    display: flex;
                    width: 5rem;
                    position: relative;
                    background-color: $light-color;
                    align-items: center;
                    gap: .9rem;
                    padding: .3rem .3rem .3rem .8rem;
                    border-radius: 2.5rem;
                    cursor: pointer;

                    svg{
                        fill: $dark-color;
                        stroke: $dark-color;
                        
                        &:nth-child(n+2){
                            fill: $grey-color;
                        }
                    }

                    &:after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: $primary-color;
                        border-radius: 10px;
                        border: 1px solid $light-color;
                        position: absolute;
                        top: 3px;
                        right: 3px;
                    }

                    &:hover{
                        box-shadow: 4px 6px 4px rgba(0,0,0, 0.1)
                    }
                }
            }
        }
    }

    &__search{
        position: absolute;
        top: 112%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;

        @media (max-width: $tabletSecond-break) {
            position: inherit;
            top: inherit;
            left: inherit;
            transform: inherit;
        }

        .search-tab{
            display: flex;
            justify-content: center;
            margin-bottom: 1.875rem;
            gap: 2.125rem;

            &__elements{
                @include fonts($font: 16, $wt: 400, $color: $light-color);
                position: relative;

                @media (max-width: $tablet-break) {
                    @include fonts($font: 14, $wt: 400, $color: $light-color);
                }

                &:first-child{ // Devra être remplacer par le comportement en JS
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 1.8rem;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 1rem !important; // !important - bidouille pour laisser l'aspect actif
                        border-bottom: 0.16rem solid $light-color;
                        border-radius: 2rem;
                    }
                }

                &:hover{
                    &::after{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 1.8rem;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 0.3rem;
                        border-bottom: 0.16rem solid $light-color;
                        border-radius: 2rem;
                    }
                }
            }
        }

        .search-info{
            display: flex;
            width: 53.125rem;
            background-color: $light-color;
            border-radius: 2.5rem;

            @media (max-width: $tabletSecond-break) {
                width: 100%;
            }

            &__item{
                width: max-content;
                display: flex;
                flex: auto;
                flex-direction: column;
                justify-content: center;
                border-radius: 2.5rem;
                padding: 1rem 0;
                
                .title{
                    cursor: pointer;
                    @include fonts($font: 12, $wt: 700, $color: $dark-color);
                }

                .placeholder{
                    @include fonts($font: 14, $wt: 500, $color: $grey-color);
                }

                &:hover{
                    background-color: $grey-light-color;
                }
                
                &:last-child{
                    flex-direction: row;
                    justify-content: space-between;
                }

                &--input{
                    display: flex;
                    flex-direction: column;
                    padding-left: 1.5rem;
                    cursor: pointer;

                    input[type=text]{
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }

                &--btn{
                    height: 100%;
                    padding-left: 1.5rem;
                    text-align: start;
                    position: relative;
                    border-radius: 4rem;
                    cursor: pointer;

                    &:before{
                        content:'';
                        display: inline-block;
                        width: 1px;
                        height: 50%;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translate(-50%, -50%);
                        background-color: $grey-light-color;
                    }
                }

                &--bar{
                    height: fit-content;
                    position: relative;
                    top: 50%;
                    right: -14px;
                    transform: translate(-50%, -50%);
                    background-color: $primary-color;
                    padding: 1rem;
                    border-radius: 2rem;
                    cursor: pointer;

                    svg{
                        stroke: $light-color;
                    }

                    .placeholder{
                        display: none;
                    }
                }
            }
        }
    }
}