@import "../base/colors";

.top{
    background: $light-color;
    background: linear-gradient(0deg, $light-color 34%, $dark-color 34%);

    .presentation{
        background: center/cover no-repeat url("../img/home-landscape.jpg");
        aspect-ratio: 2;
        border-radius: 2rem;
        @include container;

        &__content{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            margin: auto;
            width: 60%;
            height: 100%;
            padding: 4rem;

            @media (max-width: $tablet-break) {
                width: 80%;

                @media (max-width: $mobile-break) {
                    min-height: 23.75rem;
                    padding: 2rem;
                }
            }
            
            .title{
                white-space: pre;
                @include fonts($font: 38, $wt: 700, $color: $light-color);

                @media (max-width: $desk-break) {
                    font-size: font-sz(32);

                    @media (max-width: $tablet-break) {
                        white-space: inherit;

                        @media (max-width: $mobile-break) {
                            @include fonts($font: 24, $wt: 700, $color: $light-color);
                        }
                    }
                }
            }

            .cta{
                @include fonts("Poppins", 18, 700, $light-color);
                width: fit-content;
                background-color: $light-color;
                margin: 0 auto;
                padding: 1.25rem 2.5rem;
                border-radius: 100px;
                cursor: pointer;

                @media (max-width: $mobileSecond-break) {
                    padding: 1rem 2rem;
                }

                &__txt{
                    background: $linear-color;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.host-talking{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: center / cover no-repeat url("../img/smiling-girl.jpg");
    box-sizing: border-box;
    padding: 6.25rem;
    gap: 18rem;
    border-radius: 1rem;
    @include container;

    @media (max-width: $desk-break) {
        max-width: inherit;
        border-radius: inherit;

        @media (max-width: $tablet-break) {
            padding: 6.25rem 2.5rem;

            @media (max-width: $mobile-break) {
                padding: 2rem 1.6rem;
            }
        }
    }

    &__title{
        width: 37.9rem;
        @include fonts("Poppins", 80, 600, $light-color);

        @media (max-width: $desk-break) {
            @include fonts("Poppins", 62, 600, $light-color);

            @media (max-width: $mobile-break) {
                width: 100%;

                @media (max-width: $mobileSecond-break) {
                    word-wrap: pre;
                    @include fonts($font: 32, $wt: 700, $color: $light-color);
                }
            }
        }
    }

    &__cta{
        @include cta-origin
    }
}