.announcement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: $primary-color;
    padding: 10rem 0;
    border-radius: 0.8rem;
    @include container;
    margin-bottom: 6.25rem;

    @media (max-width: $tabletSecond-break) {
        padding: 4rem 0;
    }

    &__title{
        padding: 0 6.25rem;
        text-align: center;
        @include fonts($font: 44, $wt: 700, $color: $light-color);

        @media (max-width: $desk-break) {
            font-size: font-sz(32);
        }
    }

    &__cta{
        padding: 0.7rem 1rem;
        border: 1px solid $light-color;
        border-radius: 0.4rem;
        @include fonts($font: 14, $wt: 500, $color: $light-color);
    }
}