.discovery{
    @include grid-initializer($column: 2, $row: 5);
    @include container;

    &__cards-block{
        @media (max-width: $mobile-break) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
        }
    }

    &__cards{
        aspect-ratio: 10/12;
        gap: 1rem;
        padding: 5rem;

        @for $i from 1 through length($random-img) {
            &:nth-child(#{length($random-img)} n+#{$i}) {
                background: nth($random-img, $i);
            }
        }

        @media (max-width: $desk-break) {
            padding: 2rem;
            
            @media (max-width: $mobileSecond-break){
                grid-template-rows: repeat(2, 0fr);
                padding: 1rem;
            }
        }

        .title{
            max-width: 27rem;

            @include fonts("Poppins", 52, 500, $light-color);

            @media (max-width: $desk-break) {
                @include fonts("Poppins", 38, 500, $light-color);

                @media (max-width: $mobileSecond-break){
                    @include fonts("Poppins", 24, 600, $light-color);
                }
            }
        }

        .cta{
            @include cta-origin;
        }
    }
}