.next-gateway {
    width: 100%;
    @include container;

    &__title{
        padding-bottom: 0.4rem;
        @include fonts("Poppins", 22, 500, $dark-color);
    }

    &__content{
        position: relative;

        .gateway-nav{
            display: flex;
            min-width: 620px;
            gap: 1rem;
            padding: 0.4rem 0;
            border-bottom: 1px solid $grey-light-color;

            // @media (max-width: $mobileSecond-break) {
            //     &:before, &:after{
            //         content: "";
            //         position: absolute;
            //         z-index: 1;
            //         right: -25px;
            //         display: block;
            //         width: 40px;
            //         height: 40px;
            //         background: linear-gradient(90deg, transparent, rgb(255, 255, 255) 40%);
            //     }

            //     &:before{
            //         display: none; // Rendre dynamique son apparition avec le slider
            //         left: -25px;
            //         background: linear-gradient(270deg, transparent, rgb(255, 255, 255) 40%);
            //     }
            // }

            .slider-nav{
                display: none;
            }

            &__item{
                border: none;
                border-radius: 0.4rem;
                padding: 0.5rem 0.8rem;
                margin-left: -0.8rem;
                @include fonts("Poppins", 14, 500, $grey-color);

                &.active{
                    span{
                        color: $dark-color;
                        position: relative;
                        
                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 2.04rem;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            border-bottom: .16rem solid $dark-color;
                            border-radius: 1rem;
                        }
                    }
                }

                &:hover{
                    background-color: $grey-light-color;
                }
            }
        }

        .gateway-suggestions{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: $tablet-break) {
                grid-template-columns: repeat(3, 1fr);

                @media (max-width: $mobile-break) {
                    grid-template-columns: repeat(2, 1fr);

                    @media (max-width: $mobileThird-break) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }

            &__link{
                padding-top: 1.5rem;
                cursor: pointer;

                .city{
                    @include fonts("Poppins", 14, 400, $dark-color);
                }

                .region{
                    @include fonts("Poppins", 14, 400, $grey-color);
                }

                &.more{
                    font-size: font-sz(14);
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}