.next-gateway {
    width: 100%;
    @include container;

    &__title{
        padding-bottom: 0.4rem;
        @include fonts("Poppins", 22, 500, $dark-color);
    }

    &__content{
        position: relative;

        .slider-nav{
            display: none;

            @media (max-width: $mobileSecond-break) {
                display: inherit;
                width: 100%;
                position: absolute;

                &.disabledLeftNav{
                    .slider-nav__item{
                        &:first-child{
                            display: none;
                        }
                    }
                }
    
                &__item{
                    width: 48px;
                    height: 50px;
                    background: linear-gradient(90deg, transparent, rgba(255,255,255,1) 20%);
                    position: absolute;
                    right: -20px;
                    cursor: pointer;
                    z-index: 1;
    
                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 3;
                    }
                    
                    &:first-child{
                        background: linear-gradient(90deg, rgba(255,255,255,1) 80%, transparent);
                        left: -20px;
                    }
    
                    &--left, &--right{
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 14px;
                        stroke-width: 3px;
                        stroke: $dark-color;
                        z-index: 2;
                    }
                
                    &--left{
                        transform: rotate(180deg);
                        left: 1rem;
                    }
                
                    &--right{
                        right: 1rem;
                    }
                }
            }
        }

        .gateway-nav{
            @media (max-width: $mobile-break){
                overflow: scroll;
                scrollbar-width: none;
            }
    
            .gateways{
                display: flex;
                width: 100%;
                min-width: 590px;
                gap: 1rem;
                padding: 0.4rem 0;
                border-bottom: 1px solid $grey-light-color;
    
                &__item{
                    border: none;
                    border-radius: 0.4rem;
                    padding: 0.5rem 0.8rem;
                    margin-left: -0.8rem;
                    cursor: pointer;
                    @include fonts("Poppins", 14, 500, $grey-color);
    
                    &.active{
                        span{
                            color: $dark-color;
                            position: relative;
                            
                            &:after {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 2.04rem;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                border-bottom: .16rem solid $dark-color;
                                border-radius: 1rem;
                            }
                        }
                    }

                    &:hover{
                        background-color: $grey-light-color;

                        @media (max-width: $mobile-break){
                            background-color: inherit;
                        }
                    }
                }
            }
        }


        .gateway-suggestions{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: $tablet-break) {
                grid-template-columns: repeat(3, 1fr);

                @media (max-width: $mobile-break) {
                    grid-template-columns: repeat(2, 1fr);

                    @media (max-width: $mobileThird-break) {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }

            &__link{
                padding-top: 1.5rem;
                cursor: pointer;

                .city{
                    @include fonts("Poppins", 14, 400, $dark-color);
                }

                .region{
                    @include fonts("Poppins", 14, 400, $grey-color);
                }

                &.more{
                    font-size: font-sz(14);
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}