.next-gateway {
    width: 100%;
    @include container;

    &__title{
        padding-bottom: 0.4rem;
        @include fonts("Poppins", 22, 500, $dark-color);
    }

    &__content{
        .nav{
            display: flex;
            gap: 1rem;
            padding: 0.4rem 0;
            border-bottom: 1px solid $grey-light-color;

            &__item{
                border: none;
                border-radius: 0.4rem;
                padding: 0.5rem 0.8rem;
                margin-left: -0.8rem;
                @include fonts("Poppins", 14, 500, $grey-color);

                // Rendre dynamique le after en fonction de la section active
                &:first-child{
                    span{
                        position: relative;
                        
                        &:after {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            top: 1.9rem;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            border-bottom: .16rem solid $dark-color;
                            border-radius: 1rem;
                        }
                    }
                }

                &:hover{
                    background-color: $grey-light-color;
                }
            }
        }

        .suggestions{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: $second-break) {
                grid-template-columns: repeat(3, 1fr);
            }

            &__link{
                padding-top: 1.5rem;
                cursor: pointer;

                .city{
                    @include fonts("Poppins", 14, 400, $dark-color);
                }

                .region{
                    @include fonts("Poppins", 14, 400, $grey-color);
                }

                &.more{
                    font-size: font-sz(14);
                    text-decoration: underline;
                }
            }
        }
    }
}