// Font
@mixin fonts($family : "Open sans", $font: 16, $wt: 500, $color: $dark-color){
    font-family: $family;
    font-size: font-sz($font);
    font-weight: $wt;
    line-height: line-ht($font);
    color: $color;
}

// CTA
@mixin cta-origin ($color: $light-color){
    width: fit-content;
    height: fit-content;
    background-color: $color;
    padding: 1rem 1.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    @include fonts("Poppins", 16, 500, $dark-color);

    &:hover{
        background-color: darken($color, 14%);
    }

    @if ($color == $dark-color) {
        color: $light-color;

        &:hover{
            background-color: lighten($color, 8%);
        }
    }
}

// Containers's rules
@mixin container {
    width: 100%;
    max-width: calc(-160px + min(1760px, 100%));
    margin: auto;

    @media (max-width: $tablet-break) {
        max-width: calc(-80px + min(1760px, 100%));
    }    
    
    @media (max-width: $mobile-break) {
        max-width: calc(-40px + min(1760px, 100%));
    }
}

// Slider svg settings
@mixin slider-svg($direction){
    position: absolute;
    left: 50%;
    top: 50%;
    stroke: $dark-color;

    @if ($direction == "left") {
        transform: translate(-50%, -50%) rotate(180deg);
    } @else if ($direction == "right"){
        transform: translate(-50%, -50%);
    } @else{
        @error "slider-picto() : $direction value is not a valid direction";
    }
}

// Slider rules
@mixin slider-item(){
    &__item{
        width: 32px;
        height: 32px;
        position: relative;
        border: 1px solid $dark-color;
        border-radius: 100%;
        cursor: pointer;

        // Hack to click only on span element
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    
        &--left{
            @include slider-svg($direction: left);
        }
    
        &--right{
            @include slider-svg($direction: right);
        }
    }
}

// Grid rules
@mixin grid-initializer($column, $row){

    &__title{
        display: flex;
        justify-content: space-between;
        position: relative;

        .title{
            padding-bottom: 1.5rem;
            @include fonts("Poppins", 42, 500, $dark-color);

            @media (max-width: $desk-break) {
                @include fonts("Poppins", 32, 500, $dark-color);

                @media (max-width: $tabletSecond-break) {
                    @include fonts("Poppins", 24, 500, $dark-color);
                    padding-bottom: 1rem;

                    @media (max-width: $mobileSecond-break) {
                        @include fonts("Poppins", 21, 500, $dark-color);
                    }
                }
            }
        }
    }
        
    &__cards-block{
        display: grid;
        width: 100%;
        grid-template-columns: repeat($column, 1fr);
        grid-gap: 1.25rem;
    }

    &__cards{
        display: grid;
        grid-template-rows: repeat($row, 2fr);
        border-radius: .8rem;
    }
}